<meta charset="utf-8">

<meta name="viewport"    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="THS-Raven">
<meta name="author"      content="Yannik Schmidt | https://potaris.de/en/contact">
<title>Blowerdoor</title>

<link rel="shortcut icon" href="/defaultFavicon.ico">


<!-- Bootstrap core JS -->
<script src="/static/js/jquery.min.js"></script>

<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<script defer src="/static/js/bootstrap.min.js"></script>

<!-- mdb -->
<link href="/static/css/mdb.min.css" rel="stylesheet">
<script defer src="/static/js/mdb.min.js"></script>
<script defer src="/static/js/addons/datatables.min.js"></script>

<!-- Custom JS/CSS -->
<link href="/static/site.css" rel="stylesheet">

<script>
function datesSorter(a, b) {
    if (new Date(a) < new Date(b)) return 1;
    if (new Date(a) > new Date(b)) return -1;
    return 0;
  }
</script>
