<!doctype html>
<html lang="en">
<head>
	{% include 'head.html' %}
</head>

<body>
  {% include 'navbar.html' %}
  <div style="font-size: 16px; font-weight: 300;" class="container mt-5 mb-3" role="main">
    <table id="tableMain" class="table table-striped table-bordered table-sm"
            cellspacing="0">
        <thead>
            <tr>
                <th class="th-sm sorting font-weight-bold">Dokument</th>
                <th class="th-sm font-weight-bold">Ort</th>
                <th class="th-sm font-weight-bold">Blowerdoor KW</th>
                <th class="th-sm font-weight-bold">Bauherr</th>
                <th data-sorter="datesSorter" class="th-sm font-weight-bold">Dokument Erstellungsdatum (Jahr/Monat/Tag)</th>
            </tr>
        </thead>
        <tbody>
            {% for bd in listContent %}
            <tr>
               <td style="line-height: 45px;"><a target="_blank" href="/get-file?basename={{ bd.docName }}">{{ bd.docName }}</a>
                {% if bd.outdated %}<p style="color: red;">(älter: {{ bd.inDocumentDate.strftime("%d.%m.%Y") }})</p>{% endif %}
               </td>
               <td style="line-height: 45px;">{{ bd.location }}</td>
               {% if bd.blowerdoorDate %}
               <td style="line-height: 45px;">{{ bd.blowerdoorDate }}</td>
               {% else %}
               <td style="line-height: 45px;">0000 - Keine Informationen Gefunden</td>
               {% endif %}
               <td style="line-height: 45px;">{{ bd.customer }}</td>
               <td style="line-height: 45px;">{{ bd.pdfDate.strftime("%Y/%m/%d") }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>    

    <script defer>
        $(document).ready(function () {
            $('#tableMain').DataTable({
                "order" : [[ 3, "desc" ]]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
  </div>
</body>

</html>
